{% load static %}

<header>
  <div class="nav-container">
    <div>
      {% if user.is_authenticated %}
      <a
        href="{% url 'app:homepage' %}"
        style="text-decoration: none; cursor: default"
      >
        <div class="logo">Tech.blogs</div>
      </a>
      {% else %}
      <div class="logo">Tech.blogs</div>
      {% endif %}
    </div>
    <nav>
      {% if user.is_authenticated %} {% csrf_token %}
      <a href="/homepage">Home</a>
      <a href="/myblogs">My blogs</a>
      <a href="/contact">Contact</a>
      <a href="{% url 'app:create_post' %}">
        <button
          style="
            padding: 8px 20px;
            border-radius: 10px;
            background-color: #1d9f00;
            color: white;
            cursor: pointer;
            border: none;
            outline: none;
          "
        >
          Create post
        </button></a
      >
      <div class="user-info">
        <p>{{ user.username }}</p>
        <img
          src="{% static 'images/logo.jpg' %}"
          alt="user-logo"
          style="width: 40px; height: 40px; border-radius: 50%"
        />
        <div class="dropdown-buttons">
          <a href="{% url 'app:change_password' %}">
            {% csrf_token %}

            <button
              type="submit"
              class="change_password_btn"
              style="
                padding: 8px 20px;
                border-radius: 10px;
                background-color: #d7d7d7;
                color: rgb(43, 43, 43);
                cursor: pointer;
                border: none;
                outline: none;
              "
            >
              Change Password
            </button>
          </a>
          <form method="POST" action="{% url 'app:logout_user' %}">
            {% csrf_token %}

            <button
              type="submit"
              style="
                padding: 8px 20px;
                border-radius: 10px;
                background-color: #d80000;
                color: white;
                cursor: pointer;
                border: none;
                outline: none;
              "
            >
              Logout
            </button>
          </form>
        </div>
      </div>

      {% else %}

      <a href="{% url 'app:login_user' %}">
        <button
          style="
            padding: 8px 20px;
            border-radius: 10px;
            background-color: #0077b5;
            color: white;
            cursor: pointer;
            border: none;
            outline: none;
          "
        >
          Login
        </button></a
      >

      {% endif %}
    </nav>
  </div>
</header>
