{% load static %}

<header>
  <div class="nav-container">
    <div>
      <div class="logo">My Blog</div>
    </div>
    <nav>
      <a href="/homepage">Home</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
      <a href="/login"
        ><button
          style="
            padding: 8px 20px;
            border-radius: 10px;
            background-color: #007bff;
            color: white;
            cursor: pointer;
            border: none;
            outline: none;
          "
        >
          Login
        </button></a
      >
      <a href="{% url 'app:create_post' %}">
        <button
          style="
            padding: 8px 20px;
            border-radius: 10px;
            background-color: #1d9f00;
            color: white;
            cursor: pointer;
            border: none;
            outline: none;
          "
        >
          Create post
        </button></a
      >
    </nav>
  </div>
</header>
