{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} My Blog {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- Google Fonts for that clean Medium look -->
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Lora:ital@0;1&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    {% include "partials/header.html" %}
    <main class="container">{% block content %} {% endblock %}</main>
    <div class="pagination">
      {% if page_obj.has_previous %}
      <a
        href="?page={{ page_obj.previous_page_number }}&search={{ request.GET.search }}"
      >
        <button class="prevBtn">Prev</button>
      </a>
      {% endif %}

      <span>{{ page_obj.number }}</span>

      {% if page_obj.has_next %}
      <a
        href="?page={{ page_obj.next_page_number }}&search={{ request.GET.search }}&category={{ request.GET.category }}"
      >
        <button class="nextBtn">Next</button>
      </a>
      {% endif %}
    </div>
    {% include "partials/footer.html" %}
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
