{% extends "base.html" %} 
{% load static %} 

{% block title %} Post Details {% endblock %} 

{% block content %}
<h2>Post Details</h2>

<img
  src="{% static 'images/logo.jpg' %}"
  alt="logo"
  style="width: 50px; height: 50px; border-radius: 50%"
/>

{% for detail in details %}
    <article>
        <h4>Published at: {{ detail.created_at|date:"d M Y" }}</h4>
        <h4>Updated at: {{ detail.updated_at|date:"d M Y" }}</h4>

        <h3>{{ detail.title|capfirst }}</h3>

        <p>{{ detail.body }}</p>
    </article>
    <hr />
{% empty %}
    <p>Post Details unavailable.</p>
{% endfor %}

{% endblock %}