{% extends "base.html" %} {% load static %} {% block content %}

<title>{% block title %} Home {% endblock %}</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<div class="home-header">
  <h2>All Blogs <span style="font-weight: 800;">({{count}})</span></h2>
  <form method="GET" id="searchForm">
    <input
      type="text"
      name="search"
      id="searchInput"
      class="searchbar"
      placeholder="Search posts..."
      value="{{ request.GET.search }}"
    />
  <select name="category" class="categoryTag">
    <option value="">All Categories</option>

    {% for cat in categories %}
      <option value="{{ cat.id }}" 
        {% if request.GET.category == cat.id|stringformat:"s" %}
          selected
        {% endif %}
      >
        {{ cat.title }}
      </option>
    {% endfor %}
  </select>
  </form>
</div>
{% include "partials/post_card.html" %} {% for post in posts %} {% empty %}
<p></p>
{% endfor %} {% endblock %}
